<Input
id={{this.inputId}}
class={{this.inputClass}}
  type="text"
  value={{this.inputVal}}
  {{ on "focus" this.fill}}
  {{ on "blur" this.unfill}}
  />
<label class="input__label input__label--{{@style}} {{this.inputLabelColor}}" for="input-{{this.elementId}}">
  <span class="input__label-content input__label-content--{{@style}}">{{@label}}</span>
</label>
