<span class="input input--{{style}}">
	<input class="input__field input__field--{{style}}" id="input-1" type="text">
	<label class="input__label input__label--{{style}}" for="input-1">
		<span class="input__label-content input__label-content--{{style}}">{{label}}</span>
	</label>
</span>
