<section class="content bgcolor-1">
  <h2 class="nomargin-bottom">Haruki</h2>
  {{smart-input label="First Name" style="haruki"}}
  {{smart-input label="Last Name" style="haruki"}}
  {{smart-input label="Email" style="haruki"}}
</section>
<section class="content">
	<h2>Hoshi</h2>
  {{smart-input label="Name" style="hoshi" labelColor="color-1"}}
  {{smart-input label="Street" style="hoshi" labelColor="color-2"}}
  {{smart-input label="Town" style="hoshi" labelColor="color-3"}}
	<p>Inspired by Andrej Radisic's <a href="https://dribbble.com/shots/1785176-Jawbreaker-input-field">Jawbreaker input field</a></p>
</section>
<section class="content bgcolor-4">
	<h2>Kuro</h2>
  {{smart-input label="Username" style="kuro"}}
  {{smart-input label="Website" style="kuro"}}
  {{smart-input label="Invitation Code" style="kuro"}}
</section>
<section class="content bgcolor-7">
	<h2>Jiro</h2>
  {{smart-input label="Cat's name" style="jiro"}}
  {{smart-input label="Dog's name" style="jiro"}}
  {{smart-input label="Hamster's name" style="jiro"}}
</section>
<section class="content">
	<h2>Minoru</h2>
  {{smart-input label="First Name" style="minoru"}}
  {{smart-input label="Middle Name" style="minoru"}}
  {{smart-input label="Last Name" style="minoru"}}
</section>
<section class="content bgcolor-5">
	<h2>Yoko</h2>
  {{smart-input label="Street" style="yoko"}}
  {{smart-input label="City" style="yoko"}}
  {{smart-input label="Region" style="yoko"}}
</section>
<section class="content">
	<h2>Hideo</h2>
  {{smart-input label="Username" style="hideo"}}
  {{smart-input label="Email" style="hideo"}}
  {{smart-input label="Password" style="hideo"}}
</section>
<section class="content bgcolor-3">
	<h2>Kyo</h2>
  {{smart-input label="What's your email?" style="kyo"}}
</section>
<section class="content bgcolor-4">
	<h2>Akira</h2>
  {{smart-input label="First Name" style="akira"}}
  {{smart-input label="Last Name" style="akira"}}
  {{smart-input label="Maiden Name" style="akira"}}
</section>
<section class="content">
	<h2>Ichiro</h2>
  {{smart-input label="Bird's Color" style="ichiro"}}
  {{smart-input label="Wing Span" style="ichiro"}}
  {{smart-input label="Break Length" style="ichiro"}}
</section>
<section class="content bgcolor-6">
	<h2>Juro</h2>
  {{smart-input label="First Name" style="juro"}}
  {{smart-input label="Last Name" style="juro"}}
  {{smart-input label="Maiden Name" style="juro"}}
</section>
<section class="content bgcolor-4">
	<h2>Madoka</h2>
  {{smart-input label="Frequency" style="madoka"}}
  {{smart-input label="Weight" style="madoka"}}
  {{smart-input label="Strength" style="madoka"}}
</section>
<section class="content">
	<h2>Kaede</h2>
  {{smart-input label="First Name" style="kaede"}}
  {{smart-input label="Last Name" style="kaede"}}
  {{smart-input label="Website" style="kaede"}}
</section>
<section class="content bgcolor-8">
	<h2>Isao</h2>
  {{smart-input label="First Name" style="isao"}}
  {{smart-input label="Middle Name" style="isao"}}
  {{smart-input label="Last Name" style="isao"}}
</section>
