<section class="content bgcolor-3">
	<h2>Manami</h2>
  {{smart-input label="Username" style="manami"}}
  {{smart-input label="Website" style="manami"}}
  {{smart-input label="Invitation Code" style="manami"}}
</section>
<section class="content bgcolor-7">
	<h2>Nariko</h2>
  {{smart-input label="First Name" style="nariko"}}
  {{smart-input label="Middle Name" style="nariko"}}
  {{smart-input label="Last Name" style="nariko"}}
</section>
<section class="content bgcolor-1">
	<h2>Nao</h2>
  {{smart-input label="Street" style="nao"}}
  {{smart-input label="City" style="nao"}}
  {{smart-input label="Region" style="nao"}}
</section>
<section class="content">
	<h2>Yoshiko</h2>
  {{smart-input label="Bird's Color" style="yoshiko"}}
  {{smart-input label="Wing Span" style="yoshiko"}}
  {{smart-input label="Beak Length" style="yoshiko"}}
</section>
<section class="content bgcolor-10">
	<h2>Shoko</h2>
  {{smart-input label="Player Name" style="shoko"}}
  {{smart-input label="Village" style="shoko"}}
  {{smart-input label="World" style="shoko"}}
</section>
<section class="content bgcolor-4">
	<h2>Chisato</h2>
  {{smart-input label="First Name" style="chisato"}}
  {{smart-input label="Last Name" style="chisato"}}
  {{smart-input label="Middle Name" style="chisato"}}
</section>
<section class="content bgcolor-3">
	<h2>Makiko</h2>
  {{smart-input label="Search" style="makiko"}}
</section>
<section class="content bgcolor-9">
	<h2>Sae</h2>
  {{smart-input label="Email Address" style="sae"}}
  {{smart-input label="Invitation Code" style="sae"}}
  {{smart-input label="Full Name" style="sae"}}
</section>
<section class="content bgcolor-4">
	<h2>Kozakura</h2>
  {{smart-input label="Name" style="kozakura"}}
  {{smart-input label="Email" style="kozakura"}}
  {{smart-input label="Website" style="kozakura"}}
</section>
<section class="content bgcolor-1">
	<h2>Fumi</h2>
  {{smart-input label="Course Name" style="fumi"}}
  {{smart-input label="Degree" style="fumi"}}
  {{smart-input label="Work Place" style="fumi"}}
</section>
<section class="content bgcolor-4">
	<h2>Ruri</h2>
  {{smart-input label="Username" style="ruri"}}
  {{smart-input label="Website" style="ruri"}}
  {{smart-input label="Invitation Code" style="ruri"}}
</section>
<section class="content bgcolor-3">
	<h2>Kohana</h2>
  {{smart-input label="Time" style="kohana"}}
  {{smart-input label="Line" style="kohana"}}
  {{smart-input label="Phone" style="kohana"}}
</section>
